#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  overflow: hidden;
}

@font-face {
  font-family: "Berrie";
  src: url("./assets/fonts/Berrie.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Berrie", sans-serif;
}
